@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

@theme {
  --font-sans: 'Lufga', ui-sans-serif, system-ui, sans-serif;
  --font-serif: 'Lufga', ui-serif, Georgia, serif;
  --font-mono: 'Lufga', ui-monospace, SFMono-Regular, monospace;
}
